body {
  margin: 0;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,monospace;
  background: white;
  color: #3E3E3E; }

a {
  color: #08ffff; }

.site {
  max-width: 1000px;
  padding: 0 40px;
  margin: 0 auto; }
