@font-face {
  font-family: 'Panama Light';
  font-style: normal;
  font-weight: normal;
  src: local("Panama Light"), url("https://wcpanama2019.s3.amazonaws.com/Panama-Light.woff") format("woff"); }

body {
  margin: 0;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,monospace;
  font-size: 16px;
  background: white;
  color: #3E3E3E; }
  body.home header.site-header, body.home ul.menu {
    background: url(); }

a {
  color: #074080; }

header.site-header, ul.menu {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px; }
  header.site-header h1, ul.menu h1, header.site-header h2, ul.menu h2 {
    margin: 0;
    font-family: 'Panama Light'; }
  header.site-header h1.site-title, ul.menu h1.site-title {
    font-size: 2.6em; }
  header.site-header h2.site-description, ul.menu h2.site-description {
    font-size: 1.2em; }
  header.site-header .assistive-text, ul.menu .assistive-text {
    display: none; }

ul.menu {
  list-style: none;
  paddin: 0; }

#main {
  max-width: 1000px;
  padding: 0 40px;
  margin: 0 auto; }
