#secondary aside.widget_text .textwidget, .cuadros-inicio .cuadro {
  width: 300px;
  background: #f3f3f3;
  padding: 22px 30px;
  box-shadow: 0 2px 4px rgba(62, 62, 62, 0.25);
  display: grid;
  grid-template-rows: 70px auto auto;
  margin-bottom: 21px; }
  #secondary aside.widget_text .textwidget h3, .cuadros-inicio .cuadro h3 {
    line-height: 1.1;
    align-self: center; }
  #secondary aside.widget_text .textwidget a, .cuadros-inicio .cuadro a {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    padding-top: 12px;
    border-top: 1px solid #041178; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Montserrat", "Century Gothic", CenturyGothic, AppleGothic, monospace;
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
  background: white;
  color: #3E3E3E; }

a {
  color: #041178; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: "Fira Sans Condensed", "Century Gothic", CenturyGothic, AppleGothic, monospace;
  font-weight: 600; }

h1 {
  font-size: 2.2rem;
  margin: 1rem 0; }

h2 {
  font-size: 2rem;
  margin: 1rem 0; }

h3, h4, h5, h6 {
  font-size: 1.8rem;
  margin: 0.7rem 0; }

p {
  max-width: 50em;
  font-weight: 300; }

#main {
  max-width: 1120px;
  padding: 20px 40px 40px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

#primary {
  width: 63%;
  max-width: 700px;
  min-width: 300px; }

#secondary {
  width: 300px;
  font-size: 0.9rem; }
  #secondary h1.widget-title {
    font-size: 1.4rem;
    line-height: 1; }

.wcorg-organizers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.wcorg-organizer {
  width: 425px; }

.wcorg-organizer-description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: end; }
  .wcorg-organizer-description img {
    width: 100px;
    height: 100px; }
  .wcorg-organizer-description p {
    margin-top: 0;
    width: 300px; }

table.wp-block-table {
  width: 100%;
  border-collapse: collapse; }
  table.wp-block-table tr:first-child td {
    font-family: "Fira Sans Condensed", "Century Gothic", CenturyGothic, AppleGothic, monospace;
    font-size: 1.2rem; }
  table.wp-block-table tr td {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #E6E6E6; }

header.site-header, ul.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background: #041178;
  color: white; }
  @media only screen and (max-width: 768px) {
    header.site-header, ul.menu {
      padding: 20px 40px;
      flex-flow: column; } }
  header.site-header h1.menu-toggle, ul.menu h1.menu-toggle {
    font-size: 1.5rem;
    margin-top: 30px;
    text-align: center; }
    header.site-header h1.menu-toggle:after, ul.menu h1.menu-toggle:after {
      content: '\2261';
      font-size: 1.5rem;
      position: relative;
      top: 2px; }
  header.site-header a, ul.menu a {
    text-decoration: none;
    color: white; }
  header.site-header hgroup, ul.menu hgroup {
    height: 50px;
    padding-left: 150px;
    background: url("https://2019.panamacity.wordcamp.org/files/2019/06/worcamp-pty-logo-white.png") no-repeat left bottom;
    background-size: contain; }
  header.site-header h1, ul.menu h1, header.site-header h2, ul.menu h2 {
    margin: 0;
    line-height: 1; }
  header.site-header h1.site-title, ul.menu h1.site-title {
    font-size: 2.2rem; }
  header.site-header h2.site-description, ul.menu h2.site-description {
    font-size: 1rem; }
  header.site-header .assistive-text, ul.menu .assistive-text {
    display: none; }

ul.menu {
  background: transparent;
  list-style: none;
  padding: 0; }
  @media only screen and (max-width: 768px) {
    ul.menu {
      display: none;
      text-align: center; } }
  ul.menu a {
    font-size: 0.9rem;
    display: block;
    padding: 20px 10px; }
  ul.menu li {
    position: relative;
    transition: all 0.5s linear; }
    ul.menu li ul.sub-menu {
      position: absolute;
      display: flex;
      flex-flow: column;
      padding: 0;
      opacity: 0;
      background: #041178; }
      ul.menu li ul.sub-menu li {
        list-style: none; }
    ul.menu li:hover ul.sub-menu {
      opacity: 1; }

body.home #main, body.page-slug-organizadores.page-slug-organizadores.page-slug-organizadores #main {
  flex-flow: column;
  width: 100%; }
  body.home #main #primary, body.page-slug-organizadores.page-slug-organizadores.page-slug-organizadores #main #primary {
    width: 100%;
    max-width: 1000px;
    min-width: 300px; }
  body.home #main #secondary, body.page-slug-organizadores.page-slug-organizadores.page-slug-organizadores #main #secondary {
    display: none; }
  body.home #main #main-content, body.page-slug-organizadores.page-slug-organizadores.page-slug-organizadores #main #main-content {
    max-width: 1000px; }

.cuadros-inicio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: -50px; }

.hero-section {
  padding: 40px;
  height: 80vh;
  width: 100%;
  background-color: #041178;
  background-image: url("https://2019.panamacity.wordcamp.org/files/2019/06/wc-ciudad-panama-hero-bg-v3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-shadow: 0 0 18px #041178; }
  .hero-section h2, .hero-section h3 {
    margin: 4px 0; }
  .hero-section a {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 50px;
    border: 2px solid white;
    padding: 1rem 2rem;
    margin-top: 12px;
    background: rgba(4, 17, 120, 0.85); }

#archives, #search, #meta {
  display: none; }

footer.site-footer {
  padding: 40px 60px;
  color: white;
  background: #041178; }
  footer.site-footer a {
    color: white;
    text-decoration: none;
    font-style: italic; }
  footer.site-footer .site-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 0.8rem; }
    footer.site-footer .site-info span[role="separator"] {
      display: none; }
