footer.site-footer
	padding: 40px 60px
	color: white
	background: $dark-blue
	a
		color: white
		text-decoration: none 
		font-style: italic
		
	.site-info
		display: flex
		flex-flow: row
		justify-content: space-between
		padding: 8px 0
		font-size: 0.8rem
		
		span[role="separator"] 
			display: none
		
		