form.contact-form
	input, textarea 
		font-size: 1rem
		padding: 0.75rem 1rem
		border: 2px solid $dark-blue
		border-radius: 4px
		
	button[type="submit"]
		-webkit-appearance: none
		-moz-appearance: none
		-ms-appearance: none
		border-radius: 40px
		border: 2px solid $dark-blue
		color: $dark-blue
		padding: 0.5rem 2rem
		font-size: 1.1rem