form.contact-form
	input
		width: 80%
		padding: 0.5rem
		
	button[type="submit"]
		-webkit-appearance: none
		-moz-appearance: none
		-ms-appearance: none
		border-radius: 40px
		border: 2px solid $dark-blue
		color: $dark-blue
		padding: 0.5rem 1rem
		font-size: 1.1rem