*
	box-sizing: border-box

body
	margin: 0
	font-family: $body-font
	font-size: 16px
	font-style: normal
	line-height: 1.6
	background: lighten($clear-gray, 15%)
	color: $dark-gray

a
	color: $dark-blue

h1, h2, h3, h4, h5, h6 
	line-height: 1.1
	font-family: $header-font
	font-weight: $medium
	
h1
	font-size: 2.2rem 
	margin: 1rem 0
		
h2
	font-size: 2rem 
	margin: 1rem 0

h3, h4, h5, h6
	font-size: 1.8rem 
	margin: 0.7rem 0
	
p
	max-width: 50em 
	font-weight: $light


#main
	max-width: 1000px
	padding: 20px 40px 40px
	margin: 0 auto 
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	
#primary
	width: 60%
	max-width: 600px
	min-width: 300px
	
#secondary
	width: 300px
	font-size: 0.9rem
	
	h1.widget-title
		font-size: 1.4rem
		line-height: 1

	aside.widget_text .textwidget
		@extend %card

.wcorg-organizers
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	
.wcorg-organizer
	width: 425px
	
.wcorg-organizer-description
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	align-items: end
	
	img
		width: 100px
		height: 100px

	p
		margin-top: 0 
		width: 300px

table.wp-block-table
	width: 100%
	border-collapse: collapse
	tr
		&:first-child
			td
				font-family: $header-font
				font-size: 1.2rem
		td
			padding: 1rem 0.5rem
			border-bottom: 1px solid $clear-gray
