body
	margin: 0
	font-family: "Century Gothic",CenturyGothic,AppleGothic,monospace
	font-size: 16px
	background: lighten($clear-gray, 15%)
	color: $dark-gray

a
	color: $dark-blue
		
#main
	max-width: 1000px
	padding: 0 40px
	margin: 0 auto