body
	margin: 0
	font-family: "Century Gothic",CenturyGothic,AppleGothic,monospace
	font-size: 16px
	line-height: 1.6
	background: lighten($clear-gray, 15%)
	color: $dark-gray

a
	color: $dark-blue
	
h1
	font-size: 2rem 
	margin: 1rem 0
	
h2
	font-size: 1.6rem 
	margin: 1rem 0

h3, h4, h5, h6
	font-size: 1.4rem 
	margin: 0.7rem
	
p
	max-width: 50em
		
#main
	max-width: 1000px
	padding: 20px 40px 40px
	margin: 0 auto 
	display: flex
	flex-flow: row
	justify-content: space-between
	
#primary
	width: 75%
	
#secondary
	width: 20%

	
body.home 
	#main
		flex-flow: column
		#primary
			width: 100%
		#secondary
			display: none
	
.wcorg-organizer-description
	display: flex
	flex-flow: row
	justify-content: space-between
	align-items: end
	
	img
		margin-right: 20px