header.site-header
	display: flex
	flex-flow: row
	align-items: center
	justify-content: space-between 
	padding: 0 60px
	background: linear-gradient( lighten($dark-blue, 15%), $dark-blue)
	color: white
	
	a
		text-decoration: none
		color: white
	
	hgroup
		height: 72px
		padding-left: 200px
		background: url('https://2019.panamacity.wordcamp.org/files/2019/06/worcamp-pty-logo-white.png') no-repeat left bottom
	
	h1, h2
		margin: 0
			
	h1.site-title
		font-size: 2.2rem
		margin-top: 4px
	
	h2.site-description
		font-size: 1rem
	
	.assistive-text
		display: none
	
ul.menu
	@extend header.site-header
	background: transparent
	list-style: none
	padding: 0
	
	a
		font-size: 0.9rem
		display: block
		padding: 20px 10px
	
	li
		position: relative
		&::after
			position: absolute
			width: 100%
			height: 4px
			top: 100%
			background: white