header.site-header
	display: flex
	flex-flow: row wrap
	@media only screen and (max-width: 768px)
		padding: 20px 40px
		flex-flow: column
	align-items: center
	justify-content: space-between 
	padding: 0 40px
	background: $dark-blue
	color: white
	
	h1.menu-toggle
		font-size: 1.5rem
		margin-top: 30px
		text-align: center
		
		&:before
			content: '\2261'
			font-size: 1.8rem
			position: relative
			margin-right: 10px
	
	a
		text-decoration: none
		color: white
	
	hgroup
		height: 50px
		padding-left: 150px
		background: url('https://2019.panamacity.wordcamp.org/files/2019/06/worcamp-pty-logo-white.png') no-repeat left bottom
		background-size: contain
	
	h1, h2
		margin: 0
		line-height: 1
			
	h1.site-title
		font-size: 2.2rem 
	
	h2.site-description
		font-size: 1rem
	
	.assistive-text
		display: none
	
ul.menu
	@extend header.site-header
	background: transparent
	list-style: none
	padding: 0
	
	@media only screen and (max-width: 768px)
		display: none
		text-align: center 
	a
		font-size: 0.9rem
		display: block
		padding: 1em 1.1em
		@media only screen and (max-width: 768px)
			padding: 0.5em
	li
		position: relative
		
		&.boton-boletos a
			border: 1px solid white
			border-radius: 2em
			padding: 1em 2em
		
		ul.sub-menu
			position: absolute
			display: flex
			flex-flow: column
			padding: 0
			opacity: 0
			background: $dark-blue
			transition: all 0.25s ease-in
			visibility: hidden
			z-index: 5
			white-space: nowrap
			
			@media only screen and (max-width: 600px) 
				position: relative
				visibility: visible
				display: block
			
			li
				list-style: none
				
			a
				padding: 1.5em
				padding-right: 3em
				@media only screen and (max-width: 600px) 
					padding-right: 1.5rem
				transition: all 0.25s ease-in
				
				&:hover
					background: lighten($dark-blue, 5%)
				
		&:hover ul.sub-menu
			opacity: 1
			visibility: visible
			