.hero-section
	height: 80vh
	width: 100%
	background: 
		color: $dark-blue 
		image: url('https://2019.panamacity.wordcamp.org/files/2019/06/wc-ciudad-panama-hero-bg-v2.jpg') 
		repeat: no-repeat 
		position: center bottom 
		size: cover
	display: flex
	flex-flow: column
	justify-content: center
	align-items: center
	color: white
	text-shadow: 0 0 18px $dark-blue 
	margin-top: -20px
	
	h2, h3
		margin: 4px 0	
	
	a
		color: white
		text-decoration: none
		display: block
		border-radius: 50px
		border: 2px solid white 
		padding: 8px 20px
		margin-top: 12px
		