.hero-section
	height: 75vh
	width: 100%
	background: 
		color: $dark-blue 
		image: url('https://2019.panamacity.wordcamp.org/files/2019/06/wc-ciudad-panama-hero-bg-v1.jpg') 
		repeat: no-repeat 
		position: center top 
		size: cover
	display: flex
	justify-content: center
	align-items: center
	