body.home 
	#main
		flex-flow: column
		#primary
			width: 100%
		#secondary
			display: none
.cuadros-inicio 
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	margin-top: -50px
	margin-bottom: 20px
	
	.cuadro
		width: 300px
		background: darken($clear-gray, 15%)
		padding: 22px 30px
		
		display: grid
		grid-template-rows: 70px auto auto
		@media only screen and (max-width: 768px)
			margin-bottom: 20px
		
		h3
			line-height: 1.1
			align-self: center
		a
			display: block
			text-decoration: none
			