body.home, body.page-slug-organizadores
	#main
		flex-flow: column
		#primary
			width: 100%
		#secondary
			display: none
		width: 100%
		#main-content
			max-width: 1000px
			
.cuadros-inicio 
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	margin-top: -50px
	
	.cuadro
		@extend %card
					