table.tix_tickets_table
	tr
		th:first-child
			width: 450px
		td:first-child
			text-align: left
		td
			text-align: center
			
table.tix_tickets_table.tix-attendee-form 
	td
		text-align: left
		
table
	tr:nth-child(even) 
		background: $clear-gray
	