table.tix_tickets_table
	tr
		th:first-child
			width: 450px
		td:first-child
			text-align: left
		td
			text-align: center
			
table.tix_tickets_table.tix-attendee-form 
	td
		text-align: left
		
table
	font-size: 0.8rem
	tr:nth-child(even)
		background: $clear-gray
	td
		img
			display: block
			margin: 0 auto

table.programa-wcpanama-2019
	tr
		th
			background-color: $dark-blue
			padding: 1rem 1.5rem
			line-height: 1.1
			color: $clear-gray
			&:first-child
				width: 225px
		td[colspan="3"]
			font-weight: bold
			background-color: lighten($dark-blue, 5%)
			color: $clear-gray