$clear-gray: #E6E6E6
$dark-gray: #3E3E3E
$red: #FB0207
$yellow: #FFFF0A
$light-blue: #6ad3d5
$dark-blue: #041178
$light: 300
$medium: 600
$body-font: "Montserrat","Century Gothic",CenturyGothic,AppleGothic,monospace
$header-font: "Fira Sans Condensed","Century Gothic",CenturyGothic,AppleGothic,monospace
%card
	min-width: 300px
	width: 30%
	@media screen and (max-width: 980px)
		width: 45%
	@media screen and (max-width: 680px) 
		width: 100%	
	background: lighten($clear-gray, 5%)
	padding: 22px 30px
	box-shadow: 0 2px 4px transparentize($dark-gray, 0.75)
	display: grid
	grid-template-rows: 70px auto auto
	margin-bottom: 21px
	
	h3
		line-height: 1.1
		align-self: center
	a
		display: block
		text-decoration: none
		margin-top: 10px
		padding-top: 12px
		border-top: 1px solid $dark-blue