@import 'variables'

body
	margin: 0
	font-family: "Century Gothic",CenturyGothic,AppleGothic,monospace
	background: lighten($clear-gray, 15%)
	color: $dark-gray
a
	color: $dark-blue
	
.site
	max-width: 1000px
	padding: 0 40px
	margin: 0 auto