@import 'variables'

body
	margin: 0
	font-family: "Century Gothic",CenturyGothic,AppleGothic,monospace
	font-size: 16px
	background: lighten($clear-gray, 15%)
	color: $dark-gray

a
	color: $dark-blue
	
header.site-header
	display: flex
	flex-flow: row
	align-items: center
	justify-content: space-between 
	padding: 0 60px
	color: $dark-blue
	
	a
		text-decoration: none
	
	hgroup
		height: 72px
		padding-left: 200px
		background: url('https://2019.panamacity.wordcamp.org/files/2019/06/worcamp-pty-logo-v3.png') no-repeat left center
	
	h1, h2
		margin: 0
			
	h1.site-title
		font-size: 2.6em
	
	h2.site-description
		font-size: 1.2em
	
	.assistive-text
		display: none
	
ul.menu
	@extend header.site-header 
	list-style: none
	padding: 0
	
	a
		display: block
		padding: 20px 40px
	
	
#main
	max-width: 1000px
	padding: 0 40px
	margin: 0 auto