@import 'variables'

body
	margin: 0
	font-family: "Century Gothic",CenturyGothic,AppleGothic,monospace
	background: lighten($clear-gray, 15%)
	color: $dark-gray
	&.home
		header.site-header
			background: url()
a
	color: $dark-blue
	
header.site-header
	display: flex
	flex-flow: row
	align-items: center
	justify-content: space-between
	
#main
	max-width: 1000px
	padding: 0 40px
	margin: 0 auto